@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /// SHARED
  :root {
    --color-mint-breeze-100: 152 92% 80%;
    --color-mint-breeze-90: 152 92% 80% / 0.9;
    --color-mint-breeze-80: 152 92% 80% / 0.8;
    --color-mint-breeze-30: 152 92% 80% / 0.3;

    --color-aqua-splash-100: 188 80% 60%;
    --color-aqua-splash-90: 188 80% 60% / 0.9;
    --color-aqua-splash-80: 188 80% 60% / 0.8;
    --color-aqua-splash-30: 188 80% 60% / 0.3;

    --color-ocean-blue-100: 212 100% 58%;
    --color-ocean-blue-90: 212 100% 58% / 0.9;
    --color-ocean-blue-80: 212 100% 58% / 0.8;
    --color-ocean-blue-30: 212 100% 58% / 0.3;

    --color-twilight-purple-100: 252 100% 59%;
    --color-twilight-purple-90: 252 100% 59% / 0.9;
    --color-twilight-purple-80: 252 100% 59% / 0.8;
    --color-twilight-purple-30: 252 100% 59% / 0.3;

    --color-soft-sky-blue: 219 100% 82%;
    --color-deep-azure-blue: 219 100% 57%;

    --text-interactive-error: 348 55% 51% / 95%;
    --text-interactive-valid: 173 49% 44% / 95%;
    --text-interactive-disabled: 206 11% 29% / 40%;

    --constant-color-valid: 173 49% 44%;
    --constant-color-active: 212 82% 60%;

    --icon-interactive-error: 348 55% 51% / 90%;

    --radius: 8px;
  }

  /// LIGHT THEME
  :root {
    --background-block: 216 100% 99%;
    --background-base: 228 33% 94%;
    --background-secondary: 206 12% 11% / 03%;
    --background-primary: 206 12% 11% / 06%;

    --text-body: 206 12% 11% / 95%;
    --text-secondary: 206 11% 29% / 70%;
    --text-tertiary: 206 11% 29% / 50%;
    --text-button-primary: 0 0% 100%;

    --border-primary: 210 11% 29% / 15%;
    --border-inactive: 206 12% 11% / 05%;
  }

  /// DARK THEME
  .dark {
    --background-block: 204 11% 15%;
    --background-base: 204 11% 9%;
    --background-secondary: 204 11% 20%;
    --background-primary: 204 11% 11% / 06%;
    --text-body: 0 0% 100%;
    --text-secondary: 204 11% 75% / 70%;
    --text-tertiary: 204 11% 75% / 50%;
    --text-button-primary: 0 0% 100%;

    --border-primary: 0 0% 100% / 15%;
    --border-inactive: 0 0% 100% / 10%;
  }
}

@layer base {
  * {
    @apply border-border-primary;
  }
  body {
    @apply bg-background-base text-text-body;
  }
}
